{% extends 'alpha/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">             
            <div class="col-md-4">                
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create your account now</legend>
                        {{ form|crispy}}
                    </fieldset>
                    <div>
                        <button class="btn btn-primary btn-outline-primary" type="submit">Create Account</button>
                    </div>                                        
                </form>                
                <div class="borser-top pt-3">
                    <small class="text-muted">
                        Already Have Account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} 