{% extends 'alpha/base.html' %}
{% block content %}
{% load static %}
  <div class="container-content">
    <section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body m-3">
              <h1><strong>Meet our Team</strong></h1>
            </div>
          </div>
        </div>
      </div>    
      <div class="row d-flex justify-content-left mt-2">
        <div class="col-md-10">
          <div class="card">
            <div class="card-body m-1">
              <div class="row">
                <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                  <img src="{% static 'image/about/niyi.jpeg' %}"
                    class="rounded-circle img-fluid shadow-1" alt="About Image" width="200" height="200" />
                </div>
                <div class="col-lg-8">
                  <p class="text-muted fw-light mb-4">
                     Hobbies are playing lawn tennis and reading.
                  </p>
                  <p class="fw-bold lead mb-2"><strong>Babaniyi Lawal</strong></p>
                  <p class="fw-bold text-muted mb-0">Multi-Cloud services professional.</p>
                  <p class="fw-bold text-muted mb-0">MSc Computing student at Sheffield Hallam University</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card mb-6">
            <div class="card-body text-center">
              <strong>Product Categories</strong>
              {% for c in cat %}
                <hr>
                <a href="{% url 'product' c.cat %}" class="btn">{{ c.cat }}</a> 
                <hr>  
              {% endfor %}                                                       
            </div>
          </div>
        </div>   
        <div class="col-md-10">
          <div class="card">
            <div class="card-body m-1">
              <div class="row">
                <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                  <img src="{% static 'image/about/joseph.jpeg' %}"
                    class="rounded-circle" alt="About Image" width="200" height="200" />
                </div>
                <div class="col-lg-8">
                  <p class="text-muted fw-light mb-4">
                    A versatile, committed software engineer and a student of Sheffield Hallam University. The goal is to merge and provide the best cloud solutions for customers.
                  </p>
                  <p class="fw-bold lead mb-2"><strong>Joseph Olasimbo</strong></p>                  
                </div>
              </div>
            </div>
          </div>
        </div>
            
        <div class="col-md-10">
          <div class="card">
            <div class="card-body m-1">
              <div class="row">
                <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                  <img src="{% static 'image/about/joshua.jpeg' %}"
                    class="rounded-circle" alt="About Image" width="200" height="200" />
                </div>
                <div class="col-lg-8">
                  <p class="text-muted fw-light mb-4">
                    A trained IT worker who is skilled with Hardware, Software and Analytical in investigating problems.
                  </p>
                  <p class="fw-bold lead mb-2"><strong>Joshua Akerele</strong></p>
                  <p class="fw-bold text-muted mb-0">Multi-Cloud services professional.</p>
                  <p class="fw-bold text-muted mb-0">Studying MSc. Computing at Sheffield Hallam University.</p>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </section> 
  </div>      
{% endblock %}

