{% extends 'alpha/base.html' %}
{% block content %}
    <div class="container-content">
        <div class="row justify-content-center">             
            <div class="col-md-6">
                <h3><strong>CONTACT US</strong></h3>
                <div class="alert alert-info">
                    We would like to here from you.
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <label><strong>Name</strong></label>
                            <input type="text" name="fname" class="form-control" placeholder="Enter your Name">
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><strong>Email</strong></label>
                            <input type="email" name="email" class="form-control" placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <label><strong>Subject</strong></label>
                            <input type="text" name="lname" class="form-control" placeholder="Enter your Subject">
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <label><strong>Message</strong></label>
                            <textarea type="text" name="msg" class="form-control"></textarea>
                        </div>
                    </div>                    
                    <div class="row">                        
                        <div class="col">
                            <p></p>
                            <input type="submit" name="sendBtn" class="btn btn-outline-primary" value="Send">
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="col-md-2">
                <div class="card mb-6">
                  <div class="card-body text-center">
                    <strong>Product Categories</strong>
                    {% for c in cat %}
                      <hr>
                      <a href="{% url 'product' c.cat %}" class="btn">{{ c.cat }}</a> 
                      <hr>  
                    {% endfor %}                                                       
                  </div>
                </div>
            </div>
        </div>         
    </div>         
{% endblock %}
